{% extends 'base.html.twig' %}

{% block body %}
    <!-- Home Banner Start -->
<div class="dc-innerbanner-holder dc-haslayout">
        <div class="container">
                <div class="row">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="dc-innerbanner">
                                        <form class="dc-formtheme dc-form-advancedsearch dc-innerbannerform">
                                                <fieldset>
                                                        <div class="form-group">
                                                                <input type="text" name="search" class="form-control" placeholder="Search doctors, clinics, hospitals, etc.">
                                                        </div>
                                                        <div class="form-group">
                                                                <div class="dc-select">
                                                                        <select class="chosen-select locations" data-placeholder="Country" name="locations">
                                                                                <option value="Location">Location*</option>
                                                                                <option value="United State">Hyderabad</option>
                                                                                <option value="Canada">Warangal</option>
                                                                                <option value="England">Khammam</option>
                                                                                <option value="Switzerland">Tirupati</option>
                                                                                <option value="New Zealand">Vijayawada</option>
                                                                        </select>
                                                                </div>
                                                        </div>
                                                        <div class="dc-btnarea">
                                                                <a href="javascript:void(0);" class="dc-btn">Search</a>
                                                        </div>
                                                </fieldset>
                                        </form>

                                </div>
                        </div>
                </div>
        </div>			
</div>
<!-- Home Banner End -->
<!-- breadcrumbarea start -->
<div class="dc-breadcrumbarea">
        <div class="container">
                <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <ol class="dc-breadcrumb">
                                        <li><a href="/">Home</a></li>
                                        <li>Registration</li>
                                </ol>
                        </div>
                </div>
        </div>
</div>
<!-- breadcrumbarea End -->
<!--Main Start-->
<main id="dc-main" class="dc-main dc-haslayout dc-innerbgcolor">
        <!--Register Form Start-->
        <div class="dc-haslayout dc-main-section">
                <div class="container">
                        <div class="row justify-content-md-center">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 push-lg-2">
                                        <div class="dc-registerformhold">
                                                <div class="dc-registerformmain">
                                                        <div class="dc-registerhead">
                                                                <div class="dc-title">
                                                                        <h3>Join For a Good Start</h3>
                                                                </div>										
                                                        </div>
                                                        <div class="dc-joinforms">
                                                                {{ form_start(form, {'method': 'post',  'attr': {'class': 'dc-formtheme dc-formregister '}}) }}
                                                                        <fieldset class="dc-registerformgroup">
                                                                                <div class="form-group form-group-half">
                                                                                    {{ form_widget(form.firstname, { 'attr': {'class': 'form-control placeholder-no-fix', 'placeholder':'First Name'} }) }}
                                                                                </div>
                                                                                <div class="form-group form-group-half">
                                                                                    {{ form_widget(form.lastname, { 'attr': {'class': 'form-control placeholder-no-fix', 'placeholder':'Last Name'} }) }}
                                                                                </div>
                                                                                
                                                                                <div class="form-group form-group-half">
                                                                                    {{ form_widget(form.email, { 'attr': {'class': 'form-control', 'placeholder':'Email'} }) }}
                                                                                </div>
                                                                                <div class="form-group form-group-half">
                                                                                    {{ form_widget(form.mobileno, { 'attr': {'class': 'form-control', 'placeholder':'Mobile No'} }) }}
                                                                                </div>
                                                                                <div class="form-group  form-group-half">
                                                                                    <span class="dc-select">
                                                                                    {{ form_widget(form.gender, { 'attr': {'class': 'form-control', 'placeholder':'Gender'} }) }}
                                                                                    </span>
                                                                                </div>
                                                                                <div class="form-group form-group-half">
                                                                                    {{ form_widget(form.address, { 'attr': {'class': 'form-control', 'placeholder':'Address'} }) }}
                                                                                </div>
                                                                                <div class="form-group form-group-half">
                                                                                    {{ form_widget(form.plainPassword.first, { 'attr': {'class': 'form-control', 'placeholder':'Password'} }) }}
                                                                                </div>
                                                                                <div class="form-group form-group-half">
                                                                                    {{ form_widget(form.plainPassword.second, { 'attr': {'class': 'form-control', 'placeholder':'Repeat Password'} }) }}
                                                                                </div>
                                                                        </fieldset>
                                                                        <fieldset class="dc-termsconditions">
                                                                                <div class="dc-checkboxholder">
                                                                                      <!--  <span class="dc-checkbox">
                                                                                                <input id="termsconditions" type="checkbox" name="termsconditions" value="termsconditions" checked>
                                                                                                <label for="termsconditions"><span>Terms &amp; Conditions</span></label>
                                                                                        </span>-->

                                                                                       
                                                                                        <input type="submit" class="dc-btn"  />
                                                                                </div>
                                                                        </fieldset>

                                                                {{ form_end(form) }}
                                                                <div class="dc-joinnowholder">
                                                                        <div class="dc-title">
                                                                                <h4>Join Now With</h4>
                                                                        </div>
                                                                        <div class="dc-description">
                                                                                <p>Use a social account for faster login or easy registration to directly get in to your account and start a good business</p>
                                                                        </div>
                                                                        <ul class="dc-socialicons dc-iconwithtext">
                                                                                <li class="dc-facebook"><a href="javascript:void(0);"><i class="fab fa-facebook-f"></i><em>Facebook</em></a>
                                                                                </li>
                                                                                <li class="dc-twitter"><a href="javascript:void(0);"><i class="fab fa-twitter"></i><em>Twitter</em></a></li>
                                                                                <li class="dc-googleplus"><a href="javascript:void(0);"><i class="fab fa-google-plus-g"></i><em>Google</em></a></li>
                                                                                <li class="dc-instagram"><a href="javascript:void(0);"><i class="fab fa-instagram"></i><em>Instagram</em></a></li>
                                                                        </ul>
                                                                </div>
                                                        </div>
                                                </div>
                                                <div class="dc-registerformfooter">
                                                        <span>Already Have an Account? <a href="{{ path('app_login') }}">Login Now</a></span>
                                                </div>
                                        </div>
                                </div>
                        </div>
                </div>
        </div>

{% endblock %}