<!doctype html>
<!--[if lt IE 7]>		<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>			<html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>			<html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->	<html class="no-js" lang="en"> <!--<![endif]-->
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{% block title %}Doctors & Hospital Directory{% endblock %}</title>
		{% block stylesheets %}
			
			<link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">
			<link rel="stylesheet" href="{{ asset('assets/css/normalize.css') }}">
			<link rel="stylesheet" href="{{ asset('assets/css/font-awesome.min.css') }}">
			<link rel="stylesheet" href="{{ asset('assets/css/fontawesome/fontawesome-all.css') }}">
			<link rel="stylesheet" href="{{ asset('assets/css/linearicons.css') }}">
			<link rel="stylesheet" href="{{ asset('assets/css/themify-icons.css') }}">
			<link rel="stylesheet" href="{{ asset('assets/css/fullcalendar.min.css') }}">
			<link rel="stylesheet" href="{{ asset('assets/css/slick.css') }}">
			<link rel="stylesheet" href="{{ asset('assets/css/owl.carousel.min.css') }}">
			<link rel="stylesheet" href="{{ asset('assets/css/jquery-ui.css') }}">
			<link rel="stylesheet" href="{{ asset('assets/css/prettyPhoto.css') }}">
			<link rel="stylesheet" href="{{ asset('assets/css/chosen.css') }}">
			<link rel="stylesheet" href="{{ asset('assets/css/main.css') }}">
			<link rel="stylesheet" href="{{ asset('assets/css/responsive.css') }}">
			<link rel="stylesheet" href="{{ asset('assets/css/transitions.css') }}">
			<script src="{{ asset('assets/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js') }}"></script>
		{% endblock %}
	</head>
	<body class="dc-home>
		<!-- Preloader Start -->
		
		<!-- Preloader End -->
		
		<!-- Wrapper Start -->
		<div id="dc-wrapper" class="dc-wrapper dc-haslayout">
			<!-- Header Start -->
			<header id="dc-header" class="dc-header dc-haslayout">
				<div class="dc-topbar">
					<div class="container">
						<div class="row">
							<div class="col-12 col-sm-12 col-md-12 col-lg-12">
								<div class="dc-helpnum">
									<span>Emergency Help!</span>
									<a href="tel:9666933062">+91 9666933062</a>
								</div>
								<div class="dc-rightarea">
									<ul class="dc-simplesocialicons dc-socialiconsborder">
										<li class="dc-facebook"><a href="javascript:void(0);"><i class="fab fa-facebook-f"></i></a></li>
										<li class="dc-twitter"><a href="javascript:void(0);"><i class="fab fa-twitter"></i></a></li>
										<li class="dc-linkedin"><a href="javascript:void(0);"><i class="fab fa-linkedin-in"></i></a></li>
										<li class="dc-googleplus"><a href="javascript:void(0);"><i class="fab fa-google-plus-g"></i></a></li>
										<li class="dc-rss"><a href="javascript:void(0);"><i class="fas fa-rss"></i></a></li>
										<li class="dc-youtube"><a href="javascript:void(0);"><i class="fab fa-youtube"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				{% include 'navbar.html.twig' %}
			</header>
			<!-- Header End -->
		
			{% block body %}{% endblock %}
                                <!--Skills Start-->
                                        <section class="dc-haslayaout dc-footeraboutus dc-bgcolor">
                                                <div class="container">
                                                        <div class="row">
                                                                <div class="col-12 col-sm-6 col-md-3 col-lg-3">
                                                                        <div class="dc-widgetskills">
                                                                                <div class="dc-fwidgettitle">
                                                                                        <h3>By Speciality</h3>
                                                                                </div>
                                                                                <ul class="dc-fwidgetcontent">
                                                                                        <li><a href="javascript:void(0);">Allergy Specialist</a></li>
                                                                                        <li><a href="javascript:void(0);">Andrologist</a></li>
                                                                                        <li><a href="javascript:void(0);">Anesthetist</a></li>
                                                                                        <li><a href="javascript:void(0);">Audiologist</a></li>
                                                                                        <li><a href="javascript:void(0);">Dietitian/Nutritionist</a></li>
                                                                                        <li class="dc-viewmore"><a href="javascript:void(0);">View All</a></li>
                                                                                </ul>
                                                                        </div>
                                                                </div>
                                                                <div class="col-12 col-sm-6 col-md-3 col-lg-3">
                                                                        <div class="dc-widgetskill">
                                                                                <div class="dc-fwidgettitle">
                                                                                        <h3>Doctors In US</h3>
                                                                                </div>
                                                                                <ul class="dc-fwidgetcontent">
                                                                                        <li><a href="javascript:void(0);">Laproscopic Surgeon</a></li>
                                                                                        <li><a href="javascript:void(0);">Oral And Maxillofacial Surgeon</a></li>
                                                                                        <li><a href="javascript:void(0);">Orthopedic Surgeon</a></li>
                                                                                        <li><a href="javascript:void(0);">Pediatric Cardiac Surgeon</a></li>
                                                                                        <li><a href="javascript:void(0);">Pediatric Orthopedic Surgeon</a></li>
                                                                                        <li class="dc-viewmore"><a href="javascript:void(0);">View All</a></li>
                                                                                </ul>
                                                                        </div>
                                                                </div>
                                                                <div class="col-12 col-sm-6 col-md-3 col-lg-3">
                                                                        <div class="dc-footercol dc-widgetcategories">
                                                                                <div class="dc-fwidgettitle">
                                                                                        <h3>By Categories</h3>
                                                                                </div>
                                                                                <ul class="dc-fwidgetcontent">
                                                                                        <li><a href="javascript:void(0);">Cosmetic Surgeon</a></li>
                                                                                        <li><a href="javascript:void(0);">Eye Specialist</a></li>
                                                                                        <li><a href="javascript:void(0);">Gastroenterologist</a></li>
                                                                                        <li><a href="javascript:void(0);">General Physician</a></li>
                                                                                        <li><a href="javascript:void(0);">General Practitioner</a></li>
                                                                                        <li class="dc-viewmore"><a href="javascript:void(0);">View All</a></li>
                                                                                </ul>
                                                                        </div>
                                                                </div>
                                                                <div class="col-12 col-sm-6 col-md-3 col-lg-3">
                                                                        <div class="dc-widgetbylocation">
                                                                                <div class="dc-fwidgettitle">
                                                                                        <h3>By Location</h3>
                                                                                </div>
                                                                                <ul class="dc-fwidgetcontent">
                                                                                        <li><a href="javascript:void(0);">Switzerland</a></li>
                                                                                        <li><a href="javascript:void(0);">Canada</a></li>
                                                                                        <li><a href="javascript:void(0);">Germany</a></li>
                                                                                        <li><a href="javascript:void(0);">United Kingdom</a></li>
                                                                                        <li><a href="javascript:void(0);">Japan</a></li>
                                                                                        <li class="dc-viewmore"><a href="javascript:void(0);">View All</a></li>
                                                                                </ul>
                                                                        </div>
                                                                </div>
                                                        </div>
                                                </div>
                                        </section>
                                        <!--Skills Start End-->
                                </main>
                                <!-- Main End -->

			{% block footer %}
				<!-- Footer Start -->
				<footer id="dc-footer" class="dc-footer dc-haslayout">
					<div class="dc-footertopbar">
						<div class="container">
							<div class="row justify-content-center align-self-center">
								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 push-lg-2">
									<div class="dc-footer-call-email">
										<div class="dc-callinfoholder">
											<figure class="dc-callinfoimg">
												<img src="{{ asset('assets/images/footer/img-01.png') }}" alt="img description">
											</figure>
											<div class="dc-callinfocontent">
												<h3 style="font-size:14px; font-weight:400;"><span>Emergency Call</span> <a href="javascript:void(0);">+91 9666933062</a></h3>
											</div>
										</div>
										<div class="dc-callinfoholder dc-mailinfoholder">
											<figure class="dc-callinfoimg">
												<img src="{{ asset('assets/images/footer/img-02.png') }}" alt="img description">
											</figure>
											<div class="dc-callinfocontent">
												<h3 style="font-size:14px; font-weight:400;"><span>24/7 Email Support</span> <a href="mailto:info@hellodoc.com">info@hellodoc.com</a></h3>
											</div>
										</div>
										<span class="dc-or-text">- OR -</span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="dc-fthreecolumns">
						<div class="container">
							<div class="row">
								<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 float-left">
									<div class="dc-fcol dc-widgetcontactus">
										<strong class="dc-logofooter"><a href="index.html"><img src="{{ asset('assets/images/flogo.png') }}" alt="company logo here"></a></strong>
										<div class="dc-footercontent">
											<div class="dc-description">
												<p>Medical Directory aims to help the healthcare, supplying evidence-based information on a wide range of doctors and hospitals. <a href="javascript:void(0)" class="dc-detailsinfo dc-detailsinfofooter">...</a></p>
											</div>
											<ul class="dc-footercontactus">
												<li><address><i class="lnr lnr-location"></i> Aditya Enclive, Ameerpet, Hyderabad, Telangana</address></li>
												<li><a href="javascript:void(0)"><i class="lnr lnr-envelope"></i> info@hellodoc.com</a></li>
												<li><span><i class="lnr lnr-phone-handset"></i> (+91) 9000 900 141</span></li>
											</ul>
											<div class="dc-fsocialicon">
												<ul class="dc-simplesocialicons">
													<li class="dc-facebook"><a href="javascript:void(0);"><i class="fab fa-facebook-f"></i></a></li>
													<li class="dc-twitter"><a href="javascript:void(0);"><i class="fab fa-twitter"></i></a></li>
													<li class="dc-linkedin"><a href="javascript:void(0);"><i class="fab fa-linkedin-in"></i></a></li>
													<li class="dc-googleplus"><a href="javascript:void(0);"><i class="fab fa-google-plus-g"></i></a></li>
													<li class="dc-rss"><a href="javascript:void(0);"><i class="fas fa-rss"></i></a></li>
													<li class="dc-youtube"><a href="javascript:void(0);"><i class="fab fa-youtube"></i></a></li>
												</ul>
											</div>
										</div>
									</div>
								</div>
								<div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 float-left">
									<div class="dc-fcol dc-flatestad">
										<div class="dc-ftitle"><h3>Twitter Live Feed</h3></div>
										<div class="dc-footercontent">
											<ul class="dc-livefeeddetails">
												<li>
													<figure class="dc-latestadimg">
														<img src="{{ asset('assets/images/footer/img-01.png') }}" alt="img description">
													</figure>
													<div class="dc-latestadcontent">
														<p>Worl Health <em>@WHO</em> <span>It's International Lead Poisoning Prevention Week!</span></p>
														<time datetime="2018-12-12">11:39 AM - June 27, 2018</time>
													</div>
												</li>
												<li>
													<figure class="dc-latestadimg">
														<img src="{{ asset('assets/images/footer/img-02.png') }}" alt="img description">
													</figure>
													<div class="dc-latestadcontent">
														<p>UNICEF <em>@UNICEF</em> <span>Every child on the planet has the right to nutritious, healthy food.</span></p>
														<time datetime="2018-12-12">11:39 AM - June 27, 2018</time>
													</div>
												</li>
											</ul>
										</div>
									</div>
								</div>
								<div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 float-left">
									<div class="dc-fcol dc-newsletterholder">
										<div class="dc-ftitle"><h3>Subscribe to our newsletter</h3></div>
										<div class="dc-footercontent dc-newsletterholder">
											<div class="dc-description">
												<p>Want to know more about docotrs & hospital near by your place.</p>
											</div>
											<form class="dc-formtheme dc-formnewsletter">
												<fieldset>
													<div class="form-group">
														<input type="email" name="email" value="" class="form-control" placeholder="Enter Your Email" required="">
														<button type="submit"><i class="lnr lnr-arrow-right"></i></button>
													</div>
												</fieldset>
											</form>
											<div class="dc-footerapps">
												<div class="dc-ftitle"><h3>Download Mobile App</h3></div>
												<ul class="dc-btnapps">
													<li><a href="javascript:void(0)"><img src="{{ asset('assets/images/footer/img-05.png') }}" alt="img description"></a></li>
													<li><a href="javascript:void(0)"><img src="{{ asset('assets/images/footer/img-06.png') }}" alt="img description"></a></li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="dc-footerbottom">
						<div class="container">
							<div class="row">
								<div class="col-12 col-sm-12">
									<p class="dc-copyright">Copyrights © 2019 by <span>Hello Doc</span> All Rights Reserved.</p>
								</div>
							</div>
						</div>
					</div>
				</footer>
				<!-- Footer End -->
			{% endblock %}
		</div>
		<!-- Wrapper End -->
		{% block javascripts %}
			
			<script src="{{ asset('assets/js/vendor/jquery-3.3.1.js') }}"></script>
			<script src="{{ asset('assets/js/vendor/jquery-library.js') }}"></script>
			<script src="{{ asset('assets/js/vendor/bootstrap.min.js') }}"></script>
			<script src="{{ asset('assets/js/moment.min.js') }}"></script>
			<script src="{{ asset('assets/js/fullcalendar.min.js') }}"></script>
			<script src="{{ asset('assets/js/owl.carousel.min.js') }}"></script>
			<script src="{{ asset('assets/js/chosen.jquery.js') }}"></script>
			<script src="{{ asset('assets/js/scrollbar.min.js') }}"></script>
			<script src="{{ asset('assets/js/jquery-ui.js') }}"></script>
			<script src="{{ asset('assets/js/prettyPhoto.js') }}"></script>
			<script src="{{ asset('assets/js/jquery-ui.js') }}"></script>
			<script src="{{ asset('assets/js/slick.min.js') }}"></script>
			<script src="{{ asset('assets/js/appear.js') }}"></script>
			<script src="{{ asset('assets/js/jRate.js') }}"></script>
			<script src="{{ asset('assets/js/main.js') }}"></script>
		{% endblock %}
	</body>
</html>
