			<div class="dc-navigationarea">
				<div class="container">
					<div class="row">
						<div class="col-12 col-sm-12 col-md-12 col-lg-12">
							<strong class="dc-logo"><a href="index.html"><img src="{{ asset('assets/images/logo.png') }}" alt="company logo here"></a></strong>
							<div class="dc-rightarea">
								<nav id="dc-nav" class="dc-nav navbar-expand-lg">
									<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
										<i class="lnr lnr-menu"></i>
									</button>
									<div class="collapse navbar-collapse dc-navigation" id="navbarNav">
										<ul class="navbar-nav">
											<li><a href="/">Home</a></li>
											<li><a href="javascript:void(0);">About Us</a></li>
											<li class="menu-item-has-children page_item_has_children ">
												<a href="javascript:void(0);">Directory</a>
												<ul class="sub-menu">
													<li><a href="#">Doctors</a></li>
													<li><a href="#">Hospitals</a></li>
												</ul>
											</li>
											<li><a href="javascript:void(0);">Contact Us</a></li>
                                                                                        {% if app.user %}
                                                                                        <li class="menu-item-has-children page_item_has_children ">
												<a href="javascript:void(0);">{{ app.user.firstname|default('') }}{{ " " }}{{ app.user.lastname|default('') }}</a>
												<ul class="sub-menu">
                                                                                                        {% if is_granted('ROLE_ADMIN') %}
                                                                                                        <li><a href="{{ path('easyadmin') }}">Admin</a></li>
                                                                                                        {% endif %}
													<li><a href="">Change Password</a></li>
													<li><a href="{{ path('app_logout') }}">Log Out</a></li>
                                                                                                        
												</ul>
											</li>
                                                                                        {% else %}
                                                                                        <li><a href="{{ path('app_login') }}" >Login</a><li>
                                                                                        {% endif %} 
                                                                                        
										</ul>
									</div>
								</nav>
                                                            {% if app.user %}
                                                                {% else %}
								<div class="dc-loginarea">
									<div class="dc-loginoption">
										
									</div>
									<a href="{{ path('register') }}" class="dc-btn">Join Now</a>
								</div>
                                                                        
                                                            {% endif %}            
							</div>
						</div>
					</div>
				</div>
			</div>